* {
    color: #ffffff !important;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #AB8B74;
}
.black {
    color: #000000 !important;
}
.text-color {
    color: #C3745E !important;
}

nav.navbar {
    background-color: #765848;
}

img.img-logo {
    width: 45px;
}
a.link-cart img {
    width: 35px;
    color: #ffffff;
}

.modal-content {
    background-color: #765848;
}

/* search */
div.form-search {
    width: 50%;
}
input, select, option {
    color: #000000 !important;
    opacity: 1;
}
input:focus {
    border-color: #ffffff !important;
    outline-color: #ffffff !important;
    box-shadow: none !important;
}

/* button */
.btn-primary {
    background-color: #765848;
    border-color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #765848 !important;
    border-color: #AB8B74 !important;
}

.btn-outline-primary {
    border-radius: 15px;
    border-color: #ffffff;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #AB8B74 !important;
    border-color: #AB8B74 !important;
}
.btn-login {
    background-color: #AB8B74;
    border-color: #AB8B74;
}
#search-product {
    background-color: #AB8B74;
    border-color: #AB8B74;
}

.footer {
    background-color: #765848;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.tentang img {
    width: 100px;
}
.pembayaran img.bank, .pengiriman img.kurir {
    width: 50px;
}

/* panel */
.panel{
    width: 100%;
    display: inline-block;
    height: 80px;
    line-height: 70px;
    background-color: white;
    border-bottom: 10px solid #C3745E;
    font-size: 30px;
    color: #C3745E;
}
.panel img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.panel a{
    color: #C3745E;
}
.panel .help{
    text-decoration: none;
    float: right;
    padding-left: 10px;
    border-left: 5px solid #765848;
}

@media(max-width: 768px) {
    .navbar {
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 999;
    }
    .carousel-wrap {
        margin-top: 80px;
    }
    .cart-wrap {
        text-align: center;
        margin-top: 10px;
    }
    .btn-login, .btn-daftar {
        margin-top: 10px;
        width: 100%;
    }
    li.login-wrap {
        margin-right: 0 !important;
    }

    .panel {
        margin-top: 60px;
        font-size: 22px;
    }
}