.bayar{
    padding-top: 30px;
    background-color: #AB8B74;
    color: white;
}
.bayar .sisa{
    font-size: 30px;
}
.pilihan img{
    width: 100px;
    height: 40px;
    margin: 5px;
}
.row .crcl{
    width: 45px;
    height: 45px;
}
.container .kunci img{
    margin-right: 5px;
    margin-top: -5px;
    width: 20px;
    height: 25px;
}

